@import '../../assets/css/variables';
@import '~bootstrap/scss/mixins';

$padding: 100px;
$aside-right-width: 280px;

.about {
  padding: 100px;
  text-align: justify;
  padding-right: $padding + $aside-right-width;

  .title {
    justify-content: space-between;
    display: flex;
    font-family: $font-family-sans-serif-title;
  }

  .p {
    margin-top: 40px;
  }

  .profilImg {
    height: 100px;
    width: 100px;
  }
}

.asideRight {
  width: $aside-right-width;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;

  .carousel {
    background-color: $green; // TODO use var
    height: 100%;
  }

  .carouselItem {
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      padding: 20px;
    }
    p {
      padding: 0 50px;
      padding-bottom: 40px;
    }
  }
}
