@import '../../assets/css/variables';
@import '~bootstrap/scss/mixins';

$padding: 100px;
$aside-right-width: 300px;

Content {
  display: flex;
  justify-content: space-between;
}

.about {
  padding: $padding;
  text-align: justify;
  /*  padding-right: $padding + $aside-right-width;*/

  .title {
    justify-content: space-between;
    display: flex;
    font-family: $font-family-sans-serif-title;
  }

  .p {
    margin-top: 40px;
  }

  .profilImg {
    height: 100px;
    width: 100px;
    image-orientation: flip;
  }
}

.asideRight {
  width: $aside-right-width;
  background-color: $green; // TODO use var
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .otter {
    height: 200px;
    width: 200px;
  }
}
