@import '../../assets/css/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities';

.circle {
  color: $light;
  border-radius: 50%;

  position: relative;
  width: 100%;

  @extend .m-3;
  @extend .text-center;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.circleContent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
