
.nav-link.active {
  border-bottom: 3px solid $orange-100;
}

.nav-link{
  color: $dark;
  @extend .px-0;
  @extend .mx-3;
}

.content {
  padding-left: $aside-width;
}


html, body {
  height: 100%;
  background-color: $background-color;
}

#root, #root > div {
  height: 100%;
}
