@font-face {
  font-family: 'Futura-medium';
  src: local('Futura-medium'), url("../fonts/Futura_Regular/Futura_Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Futura-bold';
  src: local('Futura-bold'), url("../fonts/Futura_Bold/Futura_Bold.otf") format('otf');
}
