@import '../../assets/css/variables';
@import '~bootstrap/scss/mixins';

.container {
  background: white;
  border-radius: $border-radius;
  height: 100%;
  padding: 20px;
  box-shadow: 0 0 25px 3px rgba(134, 78, 255, 0.2);

  &:hover {
    background-color: $green;
    color: black;

    //.title {
    //  color: black;
    //}
  }

  &.green {
    background-color: $green;
  }

  &.purple {
    background-color: $purple;
  }

  &.white {
    background-color: white;
  }

  &.black {
    background-color: black;
  }
}

.title {
  font-family: 'MontserratAlternates-Bold', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;

  &.green {
    color: $green;
  }

  &.purple {
    color: $purple;
  }

  &.white {
    color: white;
  }

  &.black {
    color: black;
  }
}

.content {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 13px;

  &.white {
    color: white;
  }

  &.black {
    color: black;
  }
}

.ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list {
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 13px;

  &.white {
    color: white;
  }

  &.black {
    color: black;
  }
}
