@import '../../assets/css/variables';
@import '~bootstrap/scss/mixins';

.img {
  margin-bottom: 20px;
  //width: 100px;

  &.mains {
    height: 40px;
  }

  &.crayon {
    width: 100px;
  }

  &.chapeau {
    width: 50px;
  }

  &.star {
    width: 40px;
  }

  &.phone {
    width: 30px;
  }
}
